<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>WKCompanionAppBundleIdentifier</key>
   <string>com.grantperry.BigMetric</string>

	<key>CFBundleDisplayName</key>
	<string>BigMetric</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>BigMetric</string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>NSHealthShareUsageDescription</key>
	<string>BigMetric needs access to your health data to function properly.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>BigMetric writes workout data to HealthKit to track your performance.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>BigMetric uses your location to record routes and improve workout tracking.</string>
	<key>NSMotionUsageDescription</key>
	<string>BigMetric uses motion data to detect workouts and track your activity during exercise.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>WKApplication</key>
	<true/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
